body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Pragmatica', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: #1f1f1f;
}

body::before {
  content: "";
  position: absolute;
  width: 920px;
  height: 670px;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  min-width: 1280px;
  margin: 0 auto;
  padding: 0 25px;
  background-color: #ffffff;

}

